$white-color: #fff;
$primary-color:#FB8F1D;
$text-color:#202336;
$border-radius: 8px;
$font-Mulish: "Mulish", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-Playfair: "Playfair Display", serif;
$mobile-width: 431px;
$tablet-width: 767px;
$desktop-width: 767px