@import '_base';

// RESPONSIVE
@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    font-family: $font-Inter;
    font-size: 16px;
    align-items: center;
    margin: 0;
}

.button-link {
    border: 1px solid $primary-color;
    padding: 10px 20px;
    border-radius: $border-radius;
    width: 80px;
}

.wrap-container {
    width: 100%;
    max-width: 1024px;
    margin: 0   10px;
}

/* HEADER */

.header {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mobile {
        margin-top: 20px;

        .header-check:checked~.header__navbar-mobile {
            transform: translateX(0);
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $white-color;
            transition: 0.5s;
        }

        .header-check:checked~.header__logo {
            display: none;
        }

        .header-check:checked~.header__menu-button-mobile {
            display: none;
        }

        .header-check:checked~.header__overlay {
            display: block;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        vertical-align: center;
    }

    &__logo {
        width: 30%;
        height: 41px;
        width: 41px;
    }

    &__navbar {
        @include mobile {
            display: none;
        }
    }

    &__nav-link {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        color: $text-color;
        margin-right: 15px;

        &--inactive {
            color: #B8BECD;
        }

        &--fill {
            background-color: $primary-color;
            color: $white-color;
        }

        &--unfill {
            background-color: $white-color;
            color: $primary-color;
        }
    }

    &__navbar-mobile {
        display: none;

        @include mobile {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            transition: 0.5s;
            padding: 10px;
        }
    }

    &__nav-separate {
        @include mobile {
            width: 100%;
            border-top: 1px solid #7D7987;
            margin-top: 10px;
        }
    }

    &-check {
        display: none;
    }

    &__menu-button-mobile {
        display: none;

        &:hover {
            cursor: pointer;
        }

        @include mobile {
            display: block;

            i {
                font-size: 30px;
            }
        }
    }

    &__nav-mobile-link-items {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__nav-mobile-link {
        text-decoration: none;
        color: $text-color;
        font-weight: 600;
        margin-top: 10px;

        &:hover {
            background-color: #B8BECD;
        }
    }

    &__nav-mobile-link-items {
        a {
            padding: 10px 0px;
        }
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        z-index: 500;
    }

    &__banner {
        margin-top: 50px;
        display: flex;

        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__banner-container {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__banner-image {
        @include mobile {
            width: 100%;
            align-self: center;
        }
    }

    &__banner-heading {
        font-family: $font-Playfair;
        font-size: 64px;
        font-weight: 700;
        margin: 0;
    }

    &__banner-finder {
        max-resolution: 0px;
        display: flex;
        flex-direction: column;
    }

    &__finder-title {
        font-size: 16px;
        font-family: $font-Inter;
        font-weight: 500;

        &::after {
            content: "";
            width: 20px;
            border: 1px solid $text-color;
            display: block;
            margin-top: 10px;
        }
    }

    &__finder-filter {
        display: flex;
        flex-direction: column;
    }

    &__finder-filter-item {
        display: flex;
        margin: 15px 0px;

        select {
            color: #4A4C53;
            padding: 10px 20px;
            background-color: white;
            font-family: $font-Inter;
            font-size: 16px;
            margin-right: 20px;
            border: 1px solid #AFB0B9;
            border-radius: $border-radius;
            width: 35%;
            background-image:
                linear-gradient(45deg, transparent 50%, gray 50%),
                linear-gradient(135deg, gray 50%, transparent 50%),
                radial-gradient(#fff 70%, transparent 72%);
            background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - .5em) .5em;
            background-size:
                5px 5px,
                5px 5px,
                1.5em 1.5em;
            background-repeat: no-repeat;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;

            @include mobile {
                width: 45%;
            }
        }
    }

    &__finder-button-explore {
        width: 30%;
        font-size: 16px;
        height: 45px;
        padding: 10px 20px;
        margin-top: 5px;
        background-color: $primary-color;
        color: $white-color;
        border-radius: $border-radius;
        border: 1px solid $primary-color;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        @include mobile {
            width: 95%;
        }
    }

    &__banner-image {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__element {
        position: absolute;

        &--element1 {
            bottom: 0;
            left: 50%;

            img {
                height: 14px;
            }

            @include mobile {
                bottom: -5%;
                left: 50%;
            }
        }

        &--element2 {
            top: 65%;
            left: -10%;

            img {
                height: 16px;
            }
        }

        &--element3 {
            top: 20%;
            left: 45%;

            img {
                height: 14px;
            }
        }
    }
}

/* Explore the world*/
.explore-the-world {
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    position: relative;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 50%;

        @include mobile {
            width: 100%;
        }
    }

    &__learn-more {
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: center;

        @include mobile {
            width: 100%;
        }
    }

    &__heading {
        font-family: $font-Playfair;
        font-size: 32px;
        font-weight: 600;

        @include mobile {
            text-align: center;
        }
    }

    &__description {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-family: $font-Mulish;
        font-weight: 100;
        line-height: 1.5;

        @include mobile {
            text-align: center;
        }
    }

    &__button {
        width: 30%;
        font-size: 17px;
        height: 30px;
        padding: 10px 20px;
        margin-top: 5px;
        background-color: $primary-color;
        color: $white-color;
        border-radius: $border-radius;
        border: 1px solid primary-color;
        text-align: center;
        align-content: center;
        margin-top: 15px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        @include mobile {
            width: 85%;
        }
    }

    &__element {
        position: absolute;

        &--element1 {
            top: 0;
            left: 55%;

            img {
                height: 14px;
            }
        }

        &--element2 {
            bottom: 22%;
            right: 10%;

            img {
                height: 15px;
            }

            @include mobile {
                bottom: 25%;
                right: 10%;
            }
        }
    }
}

/* Featured destinations */
.featured-destinations {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    &__top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        @include mobile {
            justify-content: space-evenly;
        }
    }

    &__heading {
        font-family: $font-Playfair;
        font-size: 32px;
        font-weight: 600;

        @include mobile {
            font-size: 20px;
        }
    }

    &__link-view-all {
        color: $primary-color;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;

        i {
            width: 4px;
            height: 9px;
            margin-left: 5px;
            font-weight: 600;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__wrap-container {
        margin-top: 20px;
        display: flex;
    }

    &__wrap-items-list {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    &__wrap-item {
        position: relative;
        width: 24%;

        @include mobile {
            width: 49%;
        }
    }

    &__item-image {
        border-radius: $border-radius;
        width: 100%;
    }

    &__item-description {
        border-radius: 0 $border-radius 0 0;
        position: absolute;
        bottom: 0;
        padding: 10px 15px 0px 0px;
        background-color: $white-color;
    }

    &__item-name {
        margin: 0;
        font-size: 14px;
        color: var(--text-color);
        text-decoration: none;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__item-country {
        margin: 3px;
        font-size: 12px;
        color: #80918E;
    }

    &__element {
        position: absolute;

        &--element1 {
            top: 0%;
            right: 20%;

            img {
                height: 14px;
            }
        }

        &--element2 {
            bottom: -10%;
            left: 50%;

            img {
                height: 14px;
            }
        }

        &--element3 {
            top: 60%;
            left: -10%;
            rotate: 5deg;

            img {
                height: 14px;
            }
        }
    }
}

/* Guides */
.guides {
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    position: relative;

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    &__container {
        text-align: left;
        width: 50%;
        display: flex;
        flex-direction: column;

        @include mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__container-header {
        font-family: $font-Playfair;
        font-size: 32px;
        font-weight: 600;

        @include mobile {
            text-align: center;
        }
    }

    &__container-description {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-family: $font-Mulish;
        font-weight: 100;
        line-height: 1.5;
        color: #7D7987;

        @include mobile {
            text-align: center;
        }
    }

    &__container-button {
        width: 30%;
        font-size: 17px;
        height: 30px;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: $primary-color;
        color: $white-color;
        border-radius: $border-radius;
        border: 1px solid primary-color;
        text-align: center;
        align-content: center;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        @include mobile {
            width: 85%;
        }

    }

    &__image {
        width: 50%;

        @include mobile {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    .guides__element {
        position: absolute;

        &--element1 {
            top: 15%;
            left: 5%;

            img {
                height: 14px;
            }
        }

        &--element2 {
            top: 0;
            right: 20%;

            img {
                height: 14px;
            }
        }

        &--element3 {
            bottom: 10%;
            left: 20%;
            rotate: 20deg;

            img {
                height: 14px;
            }

            @include mobile {
                bottom: 8%;
            }
        }
    }
}

/* Testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-family: $font-Playfair;
        font-size: 32px;
        font-weight: 600;
        margin: 0px;
    }

    &__wrap-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 10px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;

        @include mobile {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }

    &__rating {
        text-align: left;
        display: flex;
        justify-content: space-between;
        width: 30%;
        color: #FFBB0C;

        @include mobile {
            display: none;
        }
    }

    &__comment {
        margin-top: 30px;
        padding: 0px;
        font-size: 16px;
        font-family: $font-Mulish;
        font-weight: 100;
        line-height: 1.5;
        width: 60%;
    }

    &__testimonial-name {
        font-size: 16px;
        font-family: $font-Mulish;
        font-weight: 600;
    }

    &__testimonial-regency {
        font-size: 16px;
        font-family: $font-Mulish;
        font-weight: 100;
    }

    &__image-container {
        position: relative;

        @include mobile {
            display: flex;
            justify-content: center;
            top: 0;
            margin-top: 50px;
            
        }
    }

    &__image-item {
        width: 70%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }

    &__button-group {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $white-color;
        border-radius: $border-radius 0 0 0;
        width: 95px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__button {
        height: 25px;
        width: 25px;
        text-align: center;
        align-content: center;
        border-radius: 50% 50%;
        margin-right: 3px;

        &--previous {
            border: 1px solid #D7D7D7;
            color: #D7D7D7;
            margin-right: 15px;
        }

        &--next {
            border: 1px solid $text-color;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__element {
        position: absolute;

        &--element1 {
            left: -10%;
            top: 45%;

            img {
                height: 14px;
            }
        }

        &--element2 {
            top: -3%;
            right: 27%;
            z-index: 0;
        }

        &--element3 {
            bottom: -3%;
            left: -2%;
            rotate: 5deg;
            z-index: 2;

            img {
                height: 20px;
            }
        }
    }
}

/* Trending stories */
.trending-stories {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    @include mobile {
        margin-top: 50px;
    }

    &__top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }

    &__heading {
        font-family: $font-Playfair;
        font-size: 32px;
        font-weight: 600;

        @include mobile {
            font-size: 24px;
        }
    }

    &__link-view-all {
        color: $primary-color;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;

        i {
            width: 4px;
            height: 9px;
            margin-left: 5px;
            font-weight: 600;
        }
    }

    &__wrap-container {
        display: flex;
    }

    &__wrap-items-list {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    &__item {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        position: relative;

        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
        }

        @include mobile {
            width: 100%;
            margin-top: 85px;
            margin-left: 10px;
        }
    }

    &__info {
        padding-top: 10px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100px;
        background-color: $white-color;

        @include mobile {
            width: 100%;
            margin-top: 85px;
        }
    }

    &__item-heading {
        font-family: $font-Inter;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: $text-color;

        :hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__item-description {
        font-family: $font-Inter;
        font-size: 15px;
        font-weight: 200;
        line-height: 1.5;
        color: #7D7987;
    }

    &__item-link-read-more {
        color: $primary-color;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;

        :hover {
            opacity: 0.8;
        }
    }

    &__element {
        position: absolute;

        img {
            height: 14px;
        }

        --element1 {
            top: 0;
            left: 35%;
            rotate: 5deg;
        }

        &--element2 {
            bottom: -25%;
            right: 32%;
        }

        &--element3 {
            top: 78%;
            left: -8%;
        }
    }
}

/* FOOTER */
.footer {
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F9F9FB;
    width: 100%;

    @include mobile {
        margin-top: 190px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
            margin: 0px 10px;
        }
    }

    &__wrap-container {
        display: flex;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__logo-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
        margin-top: 50px;

        @include mobile {
            width: 100%;
        }
    }

    &__logo-description {
        padding: 0px;
        font-size: 16px;
        font-family: var(--font-Mulish);
        font-weight: 200;
        line-height: 1.5;
        width: 70%;
        color: #848484;

        @include desktop {
            font-size: 13px;
        }
    }

    &__logo-copy-right {
        padding: 0px;
        font-size: 16px;
        font-family: var(--font-Mulish);
        font-weight: 100;
        line-height: 1.5;
        width: 100%;
        color: #848484;

        @include desktop {
            font-size: 13px;
        }
    }

    &__quick-link-lists {
        display: flex;
        justify-content: space-between;
        width: 50%;

        @include mobile {
            width: 100%;
            flex-wrap: wrap;
        }

    }

    &__quick-link-item {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        @include mobile {
            width: 50%;
        }
    }

    &__link-title {
        font-size: 16px;
        font-family: var(--font-Mulish);
        font-weight: 600;
    }

    &__link-list {
        a {
            font-family: var(--font-Mulish);
            font-weight: 100;
            text-decoration: none;
            color: #848484;
            display: block;
            padding-top: 10px;

            @include mobile {
                font-size: 12px;
            }

            @include desktop {
                font-size: 13px;
            }
        }

    }

    &__social-button {
        border-top: 1px solid #C4C4C4;
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        padding-top: 20px;

        a {
            color: var(--text-color);

            &:hover {
                opacity: 0.8;
            }
        }

        i {
            margin-right: 15px;
            width: 22px;
            height: 22px;
        }
    }
}