:root{
  --primary-color: #FB8F1D;
  --white-color: #FFFFFF;
  --text-color:#202336;
  --border-radius: 8px;
  --font-Mulish: "Mulish", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --font-Playfair: "Playfair Display", serif;
}