/* MOBILE */
@media screen and (max-width: 430px) {
 .header{
  margin-top: 20px;
 }
  .header__navbar {
    display: none;
  }

  .header__menu-button-mobile {
    display: block;
  }

  .header__menu-button-mobile i {
    font-size: 30px;
  }
  .header__navbar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s;
    padding: 10px;
  }

  .header-check:checked ~ .header__navbar-mobile{
    transform: translateX(0);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    transition: 0.5s;
  }

  .header__nav-separate{
    width: 100%;
    border-top: 1px solid #7D7987;
    margin-top: 10px;
  }

  .header-check:checked ~ .header__logo {
    display: none;
  }

  .header-check:checked ~ .header__menu-button-mobile {
    display: none;
  }

  .header-check:checked ~ .header__overlay{
    display: block;
  }

  /* HEADER BANNER */
  .header__banner{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .header__banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  .header__banner-image {
    width: 100%;
}
.header__finder-filter-item select {
  width: 45%;
}

.header__finder-button-explore {
  width: 95%;
}

.header__element--element1 {
  bottom: -5%;
  left: 50%;
}

/* EXPLORE THE WORLD */
.explore-the-world{
  display: flex;
  flex-direction: column;
}
.explore-the-world__image {
  width: 100%;
}

.explore-the-world__learn-more {
  width: 100%;
}

.explore-the-world__heading{
  text-align: center;
}
.explore-the-world__description{
  text-align: center;
}

.explore-the-world__button{
  width: 85%;
}

.explore-the-world__element--element2 {
  bottom: 25%;
  right: 10%;
}

/* FEATURE */
.featured-destinations__wrap-items-list{
  flex-wrap: wrap;
}
.featured-destinations__wrap-item{
  width: 49%;
}

.featured-destinations__heading{
  font-size: 26px;
}
/* GUIDES */
.guides{
  display: flex;
  flex-direction: column-reverse;
}
.guides__container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.guides__image{
  width: 100%;
}
.guides__container-header{
  text-align: center;
}

.guides__container-description{
  text-align: center;
}

.guides__container-button{
  width: 90%;
}
.guides__element--element3{
  bottom: 8%;
}
/* testimonials */
.testimonials{
  display: flex;
  flex-direction: column;
}
.testimonials__wrap-container{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
}

.testimonials__container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.testimonials__image-container{
  align-self: center;
}
.testimonials__rating{
  display: none;
}

/* TRENDING STORY */
.trending-stories{
  margin-top: 50px;
}
.trending-stories__wrap-items-list{
  flex-wrap: wrap;
}
.trending-stories__item{
  width: 49%;
  margin-top: 85px;
}

/* FOOTER */
.footer{
  margin-top: 190px;
}
.footer__wrap-container{
  display: flex;
  flex-direction: column;
}
.footer__logo-container{
  width: 100%;
}

.footer__quick-link-lists{
  width: 100%;
}
.footer__link-list{
  font-size: 13px;
}
}

/* TABLET */
@media screen and (min-width:430px) and (max-width: 767px) {
  .footer__link-list{
    font-size: 14px;
  }
  .footer__logo-copy-right{
    font-size: 13px;
  }
  .footer__logo-description{
    font-size: 13px;
  }
}

/* Devices  with width > 767px*/
@media screen and (min-width:767px){
  .footer__link-list{
    font-size: 13px;
  }
  .footer__logo-copy-right{
    font-size: 13px;
  }
  .footer__logo-description{
    font-size: 13px;
  }
}