body{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  font-family: var(--font-Inter);
  font-size: 16px;
  align-items: center;
}

.button-link{
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  width: 80px;
}

.wrap-container{
  width: 100%;
  max-width: 1024px;
}

/* HEADER */

.header{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__navigation{
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: center;
}
.header__logo{
width: 30%;
height: 41px;
width: 41px;
}
.header__navbar{
  /* align-content: center; */
}

.header__nav-link{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: var(--text-color);
  margin-right: 15px;
}

.header__nav-link--inactive{
  color: #B8BECD;
}

.header__nav-link--fill{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header__nav-link--unfill{
  background-color: var(--white-color);
  color: var(--primary-color);
}

.header__menu-button-mobile{
  display: none;
}
.header__navbar-mobile{
   display: none;
}

.header__overlay{
  background-color: rgba(0, 0, 0,0.3);
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 500;
}


.header-check{
  display: none;
}

.header__menu-button-mobile:hover{
  cursor: pointer;
}

.header__nav-mobile-link-items{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header__nav-mobile-link{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  margin-top: 10px;
}

.header__nav-mobile-link:hover{
  background-color: #B8BECD;
}
.header__nav-mobile-link-items a{
  padding: 10px 0px;
}

/* HEADER BANNER */
.header__banner{
  margin-top: 50px;
  display: flex;
}

.header__banner-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header__banner-heading{
  font-family: var(--font-Playfair);
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}

.header__banner-finder{
  max-resolution: 0px;
  display: flex;
  flex-direction: column;
}

.header__finder-title{
  font-size: 16px;
  font-family: var(--font-Inter);
  font-weight: 500;
}

.header__finder-title::after{
  content: "";
  width: 20px;
  border: 1px solid var(--text-color);
  display: block;
  margin-top: 10px;
}

.header__finder-filter{
  display: flex;
  flex-direction: column;
}

.header__finder-filter-item{
  display: flex;
  margin: 15px 0px;
}

.header__finder-filter-item select{  
  color: #4A4C53;
  padding:10px 20px;
  background-color: white;
  font-family: var(--font-Inter);
  font-size: 16px;
  margin-right: 20px;
  border: 1px solid #AFB0B9;
  border-radius: var(--border-radius);
  width: 35%;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#fff 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header__finder-button-explore{
  width: 30%;
  font-size: 16px;
  height: 45px;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}
.header__finder-button-explore:hover{
  cursor: pointer;
  opacity: 0.8;
}

.header__banner-image{
  width: 50%;
}

.header__banner-image img{
  width: 100%;
}

.header__element{
  position: absolute;
}

.header__element--element1{
  bottom: 0;
  left: 50%;
}
.header__element--element1 img{
  height: 14px;
}

.header__element--element2{
  top: 65%;
  left: -10%;
}

.header__element--element2 img{
  height: 16px;
}

.header__element--element3{
  top: 20%;
  left: 45%;
}

.header__element--element3 img{
  height: 14px;
}
/* Explore the world*/
.explore-the-world{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  position: relative;
}
.explore-the-world__image{
  width: 50%;
}

.explore-the-world__learn-more{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.explore-the-world__heading{
  font-family: var(--font-Playfair);
  font-size: 32px;
  font-weight: 600;
}

.explore-the-world__description{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
  line-height: 1.5;
}

.explore-the-world__button{
  width: 30%;
  font-size: 17px;
  height: 30px;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  text-align: center;
  align-content: center;
  margin-top: 15px;
}

.explore-the-world__button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.explore-the-world__element{
  position: absolute;
}

.explore-the-world__element--element1{
  top: 0;
  left: 55%;
}
.explore-the-world__element--element1 img{
  height: 14px;
}

.explore-the-world__element--element2{
  bottom: 22%;
  right: 10%;
}
.explore-the-world__element--element2 img{
  height: 15px;
}
/* Featured destinations */
.featured-destinations{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.featured-destinations__top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-destinations__heading{
  font-family: var(--font-Playfair);
  font-size: 32px;
  font-weight: 600;
}

.featured-destinations__link-view-all{
  color: var(--primary-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.featured-destinations__link-view-all i {
  width: 4px;
  height: 9px;
  margin-left: 5px;
  font-weight: 600;
}

.featured-destinations__link-view-all:hover{
  opacity: 0.8;
}

.featured-destinations__wrap-container{
  margin-top: 20px;
  display: flex;

}

.featured-destinations__wrap-items-list{
  display: flex;
  justify-content: space-between;
}

.featured-destinations__wrap-item{
  position: relative;
  width: 24%;
}

.featured-destinations__item-image{
  border-radius: var(--border-radius);
  width: 100%;
}

.featured-destinations__item-description{
  border-radius: 0 var(--border-radius) 0 0;
  position: absolute;
  bottom: 0;
  padding: 10px 15px 0px 0px;
  background-color: var(--white-color);
}

.featured-destinations__item-name:hover{
  cursor: pointer;
  opacity: 0.8;
}
.featured-destinations__item-name{
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
}

.featured-destinations__item-country{
  margin: 3px;
  font-size: 12px;
  color: #80918E;
}

.featured-destinations__element{
  position: absolute;
}

.featured-destinations__element--element1{
  top: 5%;
  right: 20%;
}

.featured-destinations__element--element1 img{
  height: 14px;
}

.featured-destinations__element--element2{
  bottom: -10%;
  left: 50%;
}

.featured-destinations__element--element2 img{
  height: 14px;
}

.featured-destinations__element--element3{
  top: 60%;
  left: -10%;
  rotate: 5deg;
}

.featured-destinations__element--element3 img{
  height: 14px;
}


/* Guides */
.guides{
  display: flex;
  margin-top: 100px;
  align-items: center;
  position: relative;
}

.guides__container{
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.guides__container-header{
  font-family: var(--font-Playfair);
  font-size: 32px;
  font-weight: 600;
}

.guides__container-description{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
  line-height: 1.5;
  color: #7D7987;
}

.guides__container-button{
  width: 30%;
  font-size: 17px;
  height: 30px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  text-align: center;
  align-content: center;
}

.guides__container-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.guides__image{
  width: 50%;
}

.guides__image img{
  width: 100%;
}

.guides__element{
  position: absolute;
}

.guides__element--element1{
  top: 15%;
  left: 5%;
}

.guides__element--element1 img{
  height: 14px;
}

.guides__element--element2{
  top: 0;
  right: -5%;
}

.guides__element--element2 img{
  height: 14px;
}

.guides__element--element3{
  bottom: 10%;
  left: 40%;
  rotate: 20deg;
}

.guides__element--element3 img{
  height: 14px;
}



/* Testimonials */
.testimonials{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.testimonials__heading{
  font-family: var(--font-Playfair);
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}

.testimonials__wrap-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonials__container{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.testimonials__rating{
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: #FFBB0C;
}

.testimonials__comment{
  margin-top: 30px;
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
  line-height: 1.5;
  width: 60%;
}

.testimonials__testimonial-info{


}

.testimonials__testimonial-name{
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 600;
}

.testimonials__testimonial-regency{
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
}

.testimonials__image-container{
  position: relative;
}

.testimonials__image-item{
  width: 70%;
  position: relative;
  z-index: 1;
}

.testimonials__image-item img{
  width: 100%;
  border-radius: var(--border-radius);
}
.testimonials__button-group{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius) 0 0 0;
  width: 95px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.testimonials__button{
  height: 25px;
  width: 25px;
  text-align: center;
  align-content: center;
  border-radius: 50% 50%;
  margin-right: 3px;
}

.testimonials__button--previous{
  border: 1px solid #D7D7D7 ;
  color: #D7D7D7;
  margin-right: 15px;
}

.testimonials__button--next{
  border: 1px solid var(--text-color) ;
}

.testimonials__button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.testimonials__element{
  position: absolute;
}

.testimonials__element--element1{
  left: -10%;
  top: 45%;
}
.testimonials__element--element1 img{
  height: 14px;
}

.testimonials__element--element2{
  top: -3%;
  right: 27%;
  z-index: 0;
}

.testimonials__element--element3{
  bottom: -3%;
  left: -2%;
  rotate: 5deg;
  z-index: 2;
}

.testimonials__element--element3 img{
  height: 20px;
}

/* Trending stories */
.trending-stories{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.trending-stories__top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-stories__heading{
  font-family: var(--font-Playfair);
  font-size: 32px;
  font-weight: 600;
}

.trending-stories__link-view-all{
  color: var(--primary-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.trending-stories__link-view-all i {
  width: 4px;
  height: 9px;
  margin-left: 5px;
  font-weight: 600;
}

.trending-stories__wrap-container{
  display: flex;
}

.trending-stories__wrap-items-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.trending-stories__item{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: relative;
}

.trending-stories__item img{
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.trending-stories__info{
  padding-top: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: var(--white-color);
}
.trending-stories__item-heading{
  font-family: var(--font-Inter);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

.trending-stories__item-heading:hover{
  cursor: pointer;
  opacity: 0.8;
}
.trending-stories__item-description{
  font-family: var(--font-Inter);
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  color: #7D7987;
}

.trending-stories__item-link-read-more{
  color: var(--primary-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.trending-stories__item-link-read-more:hover{
  opacity: 0.8;
}

.trending-stories__element{
  position: absolute;
}
.trending-stories__element img{
  height: 14px;
}

.trending-stories__element--element1{
  top: 0;
  left: 35%;
  rotate: 5deg;
}
.trending-stories__element--element2{
  bottom: -25%;
  right: 32%;
}
.trending-stories__element--element3{
  top: 78%;
  left: -8%;
}
/* FOOTER */

.footer{
  margin-top: 200px;
  background-color: #F9F9FB;
  width: 100%;
}

.footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__wrap-container{
  display: flex;
}

.footer__logo-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin-top: 50px;
}

.footer__logo-image{

}

.footer__logo-description{
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 200;
  line-height: 1.5;
  width: 70%;
  color: #848484;
}

.footer__logo-copy-right{
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
  line-height: 1.5;
  width: 100%;
  color: #848484;
}

.footer__quick-link-lists{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__quick-link-item{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.footer__link-title{
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 600;
}

.footer__link-list a{
  font-family: var(--font-Mulish);
  font-weight: 100;
  text-decoration: none;
  color: #848484;
  display: block;
  padding-top: 10px;
}

.footer__social-button{
  border-top: 1px solid #C4C4C4;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 20px;
}

.footer__social-button a{
  color: var(--text-color);
}

.footer__social-button a:hover{
  opacity: 0.8;
}

.footer__social-button i{
  margin-right: 15px;
  width: 22px;
  height: 22px;
}
