body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  align-items: center;
  margin: 0;
}

.button-link {
  border: 1px solid #FB8F1D;
  padding: 10px 20px;
  border-radius: 8px;
  width: 80px;
}

.wrap-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 10px;
}

/* HEADER */
.header {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 430px) {
  .header {
    margin-top: 20px;
  }
  .header .header-check:checked ~ .header__navbar-mobile {
    transform: translateX(0);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: 0.5s;
  }
  .header .header-check:checked ~ .header__logo {
    display: none;
  }
  .header .header-check:checked ~ .header__menu-button-mobile {
    display: none;
  }
  .header .header-check:checked ~ .header__overlay {
    display: block;
  }
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: center;
}
.header__logo {
  width: 30%;
  height: 41px;
  width: 41px;
}
@media (max-width: 430px) {
  .header__navbar {
    display: none;
  }
}
.header__nav-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: #202336;
  margin-right: 15px;
}
.header__nav-link--inactive {
  color: #B8BECD;
}
.header__nav-link--fill {
  background-color: #FB8F1D;
  color: #fff;
}
.header__nav-link--unfill {
  background-color: #fff;
  color: #FB8F1D;
}
.header__navbar-mobile {
  display: none;
}
@media (max-width: 430px) {
  .header__navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s;
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .header__nav-separate {
    width: 100%;
    border-top: 1px solid #7D7987;
    margin-top: 10px;
  }
}
.header-check {
  display: none;
}
.header__menu-button-mobile {
  display: none;
}
.header__menu-button-mobile:hover {
  cursor: pointer;
}
@media (max-width: 430px) {
  .header__menu-button-mobile {
    display: block;
  }
  .header__menu-button-mobile i {
    font-size: 30px;
  }
}
.header__nav-mobile-link-items {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header__nav-mobile-link {
  text-decoration: none;
  color: #202336;
  font-weight: 600;
  margin-top: 10px;
}
.header__nav-mobile-link:hover {
  background-color: #B8BECD;
}
.header__nav-mobile-link-items a {
  padding: 10px 0px;
}
.header__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 500;
}
.header__banner {
  margin-top: 50px;
  display: flex;
}
@media (max-width: 430px) {
  .header__banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.header__banner-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 430px) {
  .header__banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 430px) {
  .header__banner-image {
    width: 100%;
    align-self: center;
  }
}
.header__banner-heading {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}
.header__banner-finder {
  max-resolution: 0px;
  display: flex;
  flex-direction: column;
}
.header__finder-title {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.header__finder-title::after {
  content: "";
  width: 20px;
  border: 1px solid #202336;
  display: block;
  margin-top: 10px;
}
.header__finder-filter {
  display: flex;
  flex-direction: column;
}
.header__finder-filter-item {
  display: flex;
  margin: 15px 0px;
}
.header__finder-filter-item select {
  color: #4A4C53;
  padding: 10px 20px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-right: 20px;
  border: 1px solid #AFB0B9;
  border-radius: 8px;
  width: 35%;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#fff 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media (max-width: 430px) {
  .header__finder-filter-item select {
    width: 45%;
  }
}
.header__finder-button-explore {
  width: 30%;
  font-size: 16px;
  height: 45px;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #FB8F1D;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}
.header__finder-button-explore:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 430px) {
  .header__finder-button-explore {
    width: 95%;
  }
}
.header__banner-image {
  width: 50%;
}
.header__banner-image img {
  width: 100%;
}
.header__element {
  position: absolute;
}
.header__element--element1 {
  bottom: 0;
  left: 50%;
}
.header__element--element1 img {
  height: 14px;
}
@media (max-width: 430px) {
  .header__element--element1 {
    bottom: -5%;
    left: 50%;
  }
}
.header__element--element2 {
  top: 65%;
  left: -10%;
}
.header__element--element2 img {
  height: 16px;
}
.header__element--element3 {
  top: 20%;
  left: 45%;
}
.header__element--element3 img {
  height: 14px;
}

/* Explore the world*/
.explore-the-world {
  display: flex;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 430px) {
  .explore-the-world {
    display: flex;
    flex-direction: column;
  }
}
.explore-the-world__image {
  width: 50%;
}
@media (max-width: 430px) {
  .explore-the-world__image {
    width: 100%;
  }
}
.explore-the-world__learn-more {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
@media (max-width: 430px) {
  .explore-the-world__learn-more {
    width: 100%;
  }
}
.explore-the-world__heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 430px) {
  .explore-the-world__heading {
    text-align: center;
  }
}
.explore-the-world__description {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 100;
  line-height: 1.5;
}
@media (max-width: 430px) {
  .explore-the-world__description {
    text-align: center;
  }
}
.explore-the-world__button {
  width: 30%;
  font-size: 17px;
  height: 30px;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #FB8F1D;
  color: #fff;
  border-radius: 8px;
  border: 1px solid primary-color;
  text-align: center;
  align-content: center;
  margin-top: 15px;
}
.explore-the-world__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 430px) {
  .explore-the-world__button {
    width: 85%;
  }
}
.explore-the-world__element {
  position: absolute;
}
.explore-the-world__element--element1 {
  top: 0;
  left: 55%;
}
.explore-the-world__element--element1 img {
  height: 14px;
}
.explore-the-world__element--element2 {
  bottom: 22%;
  right: 10%;
}
.explore-the-world__element--element2 img {
  height: 15px;
}
@media (max-width: 430px) {
  .explore-the-world__element--element2 {
    bottom: 25%;
    right: 10%;
  }
}

/* Featured destinations */
.featured-destinations {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.featured-destinations__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
@media (max-width: 430px) {
  .featured-destinations__top-container {
    justify-content: space-evenly;
  }
}
.featured-destinations__heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 430px) {
  .featured-destinations__heading {
    font-size: 20px;
  }
}
.featured-destinations__link-view-all {
  color: #FB8F1D;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.featured-destinations__link-view-all i {
  width: 4px;
  height: 9px;
  margin-left: 5px;
  font-weight: 600;
}
.featured-destinations__link-view-all:hover {
  opacity: 0.8;
}
.featured-destinations__wrap-container {
  margin-top: 20px;
  display: flex;
}
.featured-destinations__wrap-items-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .featured-destinations__wrap-items-list {
    flex-wrap: wrap;
  }
}
.featured-destinations__wrap-item {
  position: relative;
  width: 24%;
}
@media (max-width: 430px) {
  .featured-destinations__wrap-item {
    width: 49%;
  }
}
.featured-destinations__item-image {
  border-radius: 8px;
  width: 100%;
}
.featured-destinations__item-description {
  border-radius: 0 8px 0 0;
  position: absolute;
  bottom: 0;
  padding: 10px 15px 0px 0px;
  background-color: #fff;
}
.featured-destinations__item-name {
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
}
.featured-destinations__item-name:hover {
  cursor: pointer;
  opacity: 0.8;
}
.featured-destinations__item-country {
  margin: 3px;
  font-size: 12px;
  color: #80918E;
}
.featured-destinations__element {
  position: absolute;
}
.featured-destinations__element--element1 {
  top: 0%;
  right: 20%;
}
.featured-destinations__element--element1 img {
  height: 14px;
}
.featured-destinations__element--element2 {
  bottom: -10%;
  left: 50%;
}
.featured-destinations__element--element2 img {
  height: 14px;
}
.featured-destinations__element--element3 {
  top: 60%;
  left: -10%;
  rotate: 5deg;
}
.featured-destinations__element--element3 img {
  height: 14px;
}

/* Guides */
.guides {
  display: flex;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  position: relative;
}
@media (max-width: 430px) {
  .guides {
    display: flex;
    flex-direction: column-reverse;
  }
}
.guides__container {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 430px) {
  .guides__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.guides__container-header {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 430px) {
  .guides__container-header {
    text-align: center;
  }
}
.guides__container-description {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  color: #7D7987;
}
@media (max-width: 430px) {
  .guides__container-description {
    text-align: center;
  }
}
.guides__container-button {
  width: 30%;
  font-size: 17px;
  height: 30px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #FB8F1D;
  color: #fff;
  border-radius: 8px;
  border: 1px solid primary-color;
  text-align: center;
  align-content: center;
}
.guides__container-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 430px) {
  .guides__container-button {
    width: 85%;
  }
}
.guides__image {
  width: 50%;
}
@media (max-width: 430px) {
  .guides__image {
    width: 100%;
  }
}
.guides__image img {
  width: 100%;
}
.guides .guides__element {
  position: absolute;
}
.guides .guides__element--element1 {
  top: 15%;
  left: 5%;
}
.guides .guides__element--element1 img {
  height: 14px;
}
.guides .guides__element--element2 {
  top: 0;
  right: 20%;
}
.guides .guides__element--element2 img {
  height: 14px;
}
.guides .guides__element--element3 {
  bottom: 10%;
  left: 20%;
  rotate: 20deg;
}
.guides .guides__element--element3 img {
  height: 14px;
}
@media (max-width: 430px) {
  .guides .guides__element--element3 {
    bottom: 8%;
  }
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
@media (max-width: 430px) {
  .testimonials {
    display: flex;
    flex-direction: column;
  }
}
.testimonials__heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}
.testimonials__wrap-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 430px) {
  .testimonials__wrap-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
  }
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .testimonials__container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.testimonials__rating {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: #FFBB0C;
}
@media (max-width: 430px) {
  .testimonials__rating {
    display: none;
  }
}
.testimonials__comment {
  margin-top: 30px;
  padding: 0px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  width: 60%;
}
.testimonials__testimonial-name {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.testimonials__testimonial-regency {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 100;
}
.testimonials__image-container {
  position: relative;
}
@media (max-width: 430px) {
  .testimonials__image-container {
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: 50px;
  }
}
.testimonials__image-item {
  width: 70%;
  position: relative;
  z-index: 1;
}
.testimonials__image-item img {
  width: 100%;
  border-radius: 8px;
}
.testimonials__button-group {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius: 8px 0 0 0;
  width: 95px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.testimonials__button {
  height: 25px;
  width: 25px;
  text-align: center;
  align-content: center;
  border-radius: 50% 50%;
  margin-right: 3px;
}
.testimonials__button--previous {
  border: 1px solid #D7D7D7;
  color: #D7D7D7;
  margin-right: 15px;
}
.testimonials__button--next {
  border: 1px solid #202336;
}
.testimonials__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.testimonials__element {
  position: absolute;
}
.testimonials__element--element1 {
  left: -10%;
  top: 45%;
}
.testimonials__element--element1 img {
  height: 14px;
}
.testimonials__element--element2 {
  top: -3%;
  right: 27%;
  z-index: 0;
}
.testimonials__element--element3 {
  bottom: -3%;
  left: -2%;
  rotate: 5deg;
  z-index: 2;
}
.testimonials__element--element3 img {
  height: 20px;
}

/* Trending stories */
.trending-stories {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
@media (max-width: 430px) {
  .trending-stories {
    margin-top: 50px;
  }
}
.trending-stories__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.trending-stories__heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 430px) {
  .trending-stories__heading {
    font-size: 24px;
  }
}
.trending-stories__link-view-all {
  color: #FB8F1D;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.trending-stories__link-view-all i {
  width: 4px;
  height: 9px;
  margin-left: 5px;
  font-weight: 600;
}
.trending-stories__wrap-container {
  display: flex;
}
.trending-stories__wrap-items-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 430px) {
  .trending-stories__wrap-items-list {
    flex-wrap: wrap;
  }
}
.trending-stories__item {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: relative;
}
.trending-stories__item img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
@media (max-width: 430px) {
  .trending-stories__item {
    width: 100%;
    margin-top: 85px;
    margin-left: 10px;
  }
}
.trending-stories__info {
  padding-top: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #fff;
}
@media (max-width: 430px) {
  .trending-stories__info {
    width: 100%;
    margin-top: 85px;
  }
}
.trending-stories__item-heading {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #202336;
}
.trending-stories__item-heading :hover {
  cursor: pointer;
  opacity: 0.8;
}
.trending-stories__item-description {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  color: #7D7987;
}
.trending-stories__item-link-read-more {
  color: #FB8F1D;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
.trending-stories__item-link-read-more :hover {
  opacity: 0.8;
}
.trending-stories__element {
  position: absolute;
}
.trending-stories__element img {
  height: 14px;
}
.trending-stories__element --element1 {
  top: 0;
  left: 35%;
  rotate: 5deg;
}
.trending-stories__element--element2 {
  bottom: -25%;
  right: 32%;
}
.trending-stories__element--element3 {
  top: 78%;
  left: -8%;
}

/* FOOTER */
.footer {
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F9F9FB;
  width: 100%;
}
@media (max-width: 430px) {
  .footer {
    margin-top: 190px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 430px) {
  .footer__container {
    margin: 0px 10px;
  }
}
.footer__wrap-container {
  display: flex;
}
@media (max-width: 430px) {
  .footer__wrap-container {
    display: flex;
    flex-direction: column;
  }
}
.footer__logo-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin-top: 50px;
}
@media (max-width: 430px) {
  .footer__logo-container {
    width: 100%;
  }
}
.footer__logo-description {
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 200;
  line-height: 1.5;
  width: 70%;
  color: #848484;
}
@media (min-width: 767px) {
  .footer__logo-description {
    font-size: 13px;
  }
}
.footer__logo-copy-right {
  padding: 0px;
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 100;
  line-height: 1.5;
  width: 100%;
  color: #848484;
}
@media (min-width: 767px) {
  .footer__logo-copy-right {
    font-size: 13px;
  }
}
.footer__quick-link-lists {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 430px) {
  .footer__quick-link-lists {
    width: 100%;
    flex-wrap: wrap;
  }
}
.footer__quick-link-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
@media (max-width: 430px) {
  .footer__quick-link-item {
    width: 50%;
  }
}
.footer__link-title {
  font-size: 16px;
  font-family: var(--font-Mulish);
  font-weight: 600;
}
.footer__link-list a {
  font-family: var(--font-Mulish);
  font-weight: 100;
  text-decoration: none;
  color: #848484;
  display: block;
  padding-top: 10px;
}
@media (max-width: 430px) {
  .footer__link-list a {
    font-size: 12px;
  }
}
@media (min-width: 767px) {
  .footer__link-list a {
    font-size: 13px;
  }
}
.footer__social-button {
  border-top: 1px solid #C4C4C4;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-top: 20px;
}
.footer__social-button a {
  color: var(--text-color);
}
.footer__social-button a:hover {
  opacity: 0.8;
}
.footer__social-button i {
  margin-right: 15px;
  width: 22px;
  height: 22px;
}

/*# sourceMappingURL=style.css.map */
